<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tourngen.droid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tourngen.droid.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tourngen.droid.activities.AddTeamsActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.FixtureListActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.MatchActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.MatchListActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.NewMatchesActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.NewTournamentActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.SignupActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.TeamActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.TeamListActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.TournamentActivity"></activity>
        <activity android:name="com.tourngen.droid.activities.TournamentListActivity"></activity>
    </application>

</manifest>
